<form
  class="form-horizontal"
  autocomplete="off"
  #createPaymentForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Novo pagamento' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Informações de Pagamentos' | localize" class="pt-3 px-2">
            
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="preco">
            {{ "Pagamento" | localize }}
          </label>
         
        </div>
        <div class="form-group row mb-0">

        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Quantidade" | localize }}
          </label>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="14"
              [(ngModel)]="payment.orderID" value="{{ payment.orderID| currency:'R$'}}"
              #nameModel="ngModel"
              #nameEl
            />          
          </div>
        </div>
      </tab>     
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createPaymentForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
