<div [@routerTransition]>
  <section class="content px-2 pt-5">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h3>{{ "Mesas" | localize }}</h3>
            </div>
            <div class="col-6 text-right">
              <input
                class="mr-2"
                type="checkbox"
                id="includeCanceledTables"
                [(ngModel)]="includeCanceledTables"
                (change)="includeCanceledTablesCheckboxChanged()"
              />
              <label for="includeCanceledTables">
                {{ "ShowCanceledTables" | localize }}</label
              >
              <a
                href="javascript:;"
                class="btn bg-blue ml-3"
                (click)="createTable()"
              >
                <i class="fa fa-plus-square"></i>
                {{ "Create" | localize }}
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-6" *ngFor="let table of tables">
                  <div
                    class="card table-card-free text-white p-3">
                    <div class="header">
                      <div class="row">
                        <div class="col-md-7">
                          <h5>
                            {{ table.numero }}
                          </h5>
                        </div>                        
                      </div>
                      <p class="event-description">{{ table.description }}</p>
                      <div class="row">                        
                        <div class="col-md-10 text-right">
                          <button
                            type="button"
                            class="btn bg-black waves-effect btn-sm text-white"
                            [routerLink]="['/app/tables', table.id]"
                             >
                            <span class="">{{ "Detalhes" | localize }}</span>
                            <i class="fa fa-arrow-circle-right ml-2"></i>
                          </button>
                        </div>                        
                        <div class="col-md-0 text-right">
                          <button
                            type="button"
                            class="btn bg-black waves-effect btn-sm text-white"
                            [routerLink]="['/app/tables', table.id]"
                             >
                            <span class="">{{ "Pedido" | localize }}</span>
                            <i class="fa fa-arrow-circle-right ml-2"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
