<div [@routerTransition]>
  <section class="content px-2 pt-5">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h3>{{ "Tables" | localize }}</h3>
            </div>
            <div class="col-6 text-right">
              <input
                class="mr-2"
                type="checkbox"
                id="includeCanceledTables"
                [(ngModel)]="includeCanceledTables"
                (change)="includeCanceledTablesCheckboxChanged()"
              />
              <label for="includeCanceledTables">
                {{ "ShowCanceledTables" | localize }}</label
              >
              <a
                href="javascript:;"
                class="btn bg-blue ml-3"
                (click)="createTable()"
              >
                <i class="fa fa-plus-square"></i>
                {{ "Create" | localize }}
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-6" *ngFor="let table of tables">
                  <div
                    class="card event-card text-white p-3"
                    [class]="
                      table.isCancelled
                        ? 'card bg-red text-white p-3'
                        : 'card event-card text-white p-3'
                    "
                  >
                    <div class="header">
                      <div class="row">
                        <div class="col-md-7">
                          <h5>
                            {{ table.title }}
                          </h5>
                        </div>
                        <div class="col-md-5">
                          <ul class="header-dropdown m-r-0">
                            <li>
                              <i class="fa fa-calendar"></i>
                            </li>
                            <li>
                              <span>{{ table.date | date : "short" }}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <p class="event-description">{{ table.description }}</p>
                      <div class="row">
                        <div class="col-md-6">
                          <small
                            *ngIf="
                              table.registrationsCount <
                              table.maxRegistrationCount
                            "
                          >
                            {{
                              "XofYregistered"
                                | localize
                                  : table.registrationsCount
                                  : table.maxRegistrationCount
                            }}
                          </small>
                          <small
                            *ngIf="
                              table.maxRegistrationCount > 0 &&
                              table.registrationsCount >=
                              table.maxRegistrationCount
                            "
                          >
                            {{
                              "XregisteredNoNewRegistrationAvailable"
                                | localize : table.registrationsCount
                            }}
                          </small>
                          <small *ngIf="table.maxRegistrationCount <= 0">
                            {{
                              "XregisteredUnlimitedRegistrations"
                                | localize : table.registrationsCount
                            }}
                          </small>
                        </div>
                        <div class="col-md-6 text-right">
                          <button
                            type="button"
                            class="btn bg-purple waves-effect btn-sm text-white"
                            [routerLink]="['/app/tables', table.id]"
                          >
                            <span class="">{{ "Details" | localize }}</span>
                            <i class="fa fa-arrow-circle-right ml-2"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
